doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title pump.io + Community = ♥

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				h1 pump.io + Community = ♥
				h3 AJ Jordan
			
			section
				h2 Let's talk about moi
				h3 Arch Linux
				h3 Emacs
				h3 Git
				h3 zsh
				h3 Node.js
				h3 Firefox

			section
				h2 Also about moi
				h3 Radical FLOSS zealot
				h3 Self-hoster
				h3 pump.io primary maintainer
				h3 Gap year (mostly) @ the #[a(href='https://recurse.com') Recurse Center]
				h3 he/him

			section
				h2 Let's talk about this session
				h3 What & why of pump.io
				h3 Its API
				h3 New community (+ history)

			section
				h2 The "what & why"
				h3 Social network
				h3 Federated
				h3 Successor to StatusNet (aka GNU Social)
				h3 "That thing that runs identi.ca"

			section
				h2 pump.io != StatusNet++
				h3 Both written by Evan Prodromou
				h3 StatusNet was his first social project
				h3 identi.ca circa July-ish 2013
				h3 Very complex
				h3 Codebase problem & protocol problem
				h3 (Side note: Apache 2.0 vs. AGPL)

			section
				h2 StatusNet protocol
				h3 (Fair warning: this is Long Before My Time™)
				h3 OStatus
				h3 Atom (status update feed)
				h3 PubSubHubbub (post push)
				h3 Salmon (comment distribution)
				h3 ActivityStreams (favorites, etc.)

			section
				h2 Let's talk Salmon
				h3 Just as an example.
				h3 Comment distribution
				h3 Based on Atom/RSS
				h3 Data is <code>POST</code>ed back to an endpoint URL in original post
				h3 Turns out this is overkill

			section
				h2 StatusNet code problems
				h3 Everything and the kitchen sink
				h3 OpenID
				h3.bullet Twitter cross-posting
				h3.bullet URL shortening
				h3.bullet Publish updates over XMPP
				h3.bullet Content embedding (think YouTube)
				h3.bullet A lot of this had custom server-side stuff

			section
				h2 140 characters
				h3 Looked like Twitter
				h3 Artificial limits
				h3 Eventually evolved to support pictures, etc.
				h3 AKA: understood more and more types of ActivityStreams
				
			section.emphatic(data-bespoke-backdrop='emphatic')
				h2 Enter pump.io

			section.emphatic(data-bespoke-backdrop='emphatic')
				h3
					quote I post something and my followers see it. That's the rough idea behind the pump. 
					a(href='https://github.com/pump-io/pump.io#whats-it-for') - <code>README.md</code>
	
			section
				h2 In other words:
				h3 pump.io is just an ActivityStreams distribution engine

			section
				h2 ActivityStreams
				h3 Usually JSON
				h3 Actor, verb and object (+ optional target)
				
			section
				pre
					code.language-json.
						{
						&nbsp;&nbsp;&nbsp;&nbsp;"published": "2011-02-10T15:04:55Z",
						&nbsp;&nbsp;&nbsp;&nbsp;"actor": {
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"url": "http://example.org/martin",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"objectType": "person",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"id": "tag:example.org,2011:martin",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"image": {
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"url": "http://example.org/martin/image",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"width": 250,
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"height": 250
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"displayName": "Martin Smith"
						&nbsp;&nbsp;&nbsp;&nbsp;},
						&nbsp;&nbsp;&nbsp;&nbsp;"verb": "post",
						&nbsp;&nbsp;&nbsp;&nbsp;"object" : {
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"url": "http://example.org/blog/2011/02/entry",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"id": "tag:example.org,2011:abc123/xyz"
						&nbsp;&nbsp;&nbsp;&nbsp;},
						&nbsp;&nbsp;&nbsp;&nbsp;"target" : {
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"url": "http://example.org/blog/",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"objectType": "blog",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"id": "tag:example.org,2011:abc123",
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"displayName": "Martin's Blog"
						&nbsp;&nbsp;&nbsp;&nbsp;}
						}

			section
				h2 The API
				h3 OAuth 1.0
				h3 Post activities to the user's outbox
				h3 Read activities from the user's inbox
				h3 Major/minor stream differentiation

			section
				h2 Example: let's post a note
				h3 <code>POST</code> to my outbox
				h3 pump.io <code>POST</code>s to my follower's inboxes

			section
				h2 Generic ActivityStreams distribution
				h3 <a href="https://openfarmgame.com/">OpenFarmGame</a>
				h3 Implements custom verbs and objects
				h3 pump.io distributes them, no problem
				h3 Generic, extensible social server

			section.emphatic(data-bespoke-backdrop='emphatic')
				h3
					quote I post something and my followers see it. That's the rough idea behind the pump. 
					a(href='https://github.com/pump-io/pump.io#whats-it-for') - <code>README.md</code>

			section
				h2 Community
				h3 June 22, 2014
				h3 Evan pushes the last commit for over a year

			section
				// TODO: quality
				a(href='https://github.com/pump-io/pump.io/commit/1029ac71b94dec2b51f6b2aa461b5b2a514e585a') <img class="github-img" src="images/evan-final-commit.png" alt="Evan's final commit on GitHub" />

			section
				h2 The fork
				h3 Late August: I send <a href="https://pump.strugee.net/alex/note/iIVANakWRF6eeFeg-ZPogQ">this note</a> to Evan, asking him to nominate a new maintainer
				h3 I fork <2 weeks later
				h3 First commit is September 2, 2016

			section
				a(href='https://github.com/pump-io/pump.io/commit/1029ac71b94dec2b51f6b2aa461b5b2a514e585a') <img class="github-img" src="images/strugee-first-commit.png" alt="Evan's final commit on GitHub" />
			
			section
				h2 Bringing it home
				h3 September 21, 2015: <a href="https://e14n.com/evan/note/PfncqpQ4TpWliZTQo-jjCQ">Evan wants to hand off the code to the community</a>
				h3 <a href="https://github.com/pump-io/pump.io/wiki/Meeting-2015-09-21">Informal meeting that same day</a>
				h3 Evan grants admin rights to cwebber and jpope
				
			section
				h2 Since then...
				h3 I become primary maintainer
				h3 Small but strong community
				h3 <a href="https://github.com/pump-io/pump.io/wiki/Community#next-meeting">Meetings</a> every third Friday of the month
				h3 PRs get merged now
				
			section
				h2 Releases
				h3 Focus so far: reducing technical debt
				h3 Almost 0 outdated dependencies, perf improvements, bug fixes
				h3 Releases every month, alternating betas/stables
				h3 4.0 entering beta April 1

			section
				h2 Other awesome stuff
				h3 <a href="https://github.com/pump-io/pump.io/wiki/Conservancy-application">Conservancy</a>
				h3 Node transition
				h3 <a href="https://github.com/pump-io/pump.io/wiki/Community#community-accounts-communication">Community accounts</a>
				h3 MediaGoblin <a href="http://dustycloud.org/misc/mediagoblin_federation_first_demo.png">federates with us</a>!
				// TODO confirm this
				h3 <a href="http://www.w3.org/wiki/Socialwg">SocialWG</a> (ActivityPub in CR, ActivityStreams 2.0 in CR)

			section
				h2 Future
				h3 ActivityPub support
				h3 Out-of-the-box HTTPS
				h3 More security improvements
				h3 Packaging
				h3 Bugfixes
				
			section
				h2 Join us!
				h3 <code>#pump.io</code> on Freenode
				h3 XMPP: <a href="xmpp:pump.io@muc.jappix.com?join"><code>pump.io@muc.jappix.com</code></a>
				h3 <a href="https://github.com/pump-io/pump.io">pump-io/pump.io</a> on GitHub
				h3 <a href="https://twitter.com/pumpdotio">@pumpdotio</a> or (even better) <a href="https://pumpit.info/pumpio">pumpio@pumpit.info</a>
				h3 Sign up for a hosted node...
				h3 ...or run your own!
				
			section
				h2 Thanks!
				h3 I've been AJ
				h3 <a href="mailto:alex@strugee.net">alex@strugee.net</a> (email & XMPP)
				h3 <a href="https://pump.strugee.net/alex">alex@pump.strugee.net</a>
				h3 <a href="https://twitter.com/strugee2">@strugee2</a> (if you must)
				h3 <a href="https://github.com/strugee">strugee</a> on GitHub
				h3 <a href="https://strugee.net">strugee.net</a>

			section
				h2 Access this presentation again
				h3 <a href="https://strugee.net/presentation-pumpio/libreplanet/">https://strugee.net/presentation-pumpio/libreplanet/</a>
				p
					img(src='images/qr.png', alt='QR code to presentation URL', width='200', height='200')
				h4 Or, <a href="https://github.com/strugee/presentation-pumpio">check out the source</a>.

		script(src='build/build.js')
